<footer class="footer" style="background-image: url('./assets/images/footer-bg.png')">
    <div class="container">

      <div class="section footer-top">

        <div class="footer-brand" data-reveal="bottom">

          <a href="#" class="logo">
            <img src="./images/Peduli Sehat.png" width="136" height="46" loading="lazy" alt="Doclab home">
          </a>

          <ul class="contact-list has-after">

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="mail-open-outline"></ion-icon>
              </div>

              <div>
                <p>
                  Main Email : <a href="mailto:pedulisehat2024@gmail.com" class="contact-link">pedulisehat2024@gmail.com</a>
                </p>

                <p>
                  Inquiries : <a href="mailto:adangirawan05@gmail.com" class="contact-link">adangirawan05@gmail.com</a>
                </p>
              </div>

            </li>

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <div>

                <p>
                  Mobile : <a href="tel:000232439493" class="contact-link">0822 1405 8989</a>
                </p>
              </div>

            </li>

          </ul>

        </div>
      </div>

      <div class="footer-bottom">

        <p class="text copyright">
          &copy; PeduliSehat 2024 | 
        </p>

        <ul class="social-list">

          <li>
            <a href="https://www.facebook.com/adang.irawan.7146" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://x.com/valenentino?t=cnHmJaq13qGv18aESjn71A&s=09" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/amosvalentino?igsh=OWwzdjM0a2t6bHVy" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.tiktok.com/@danielhartono_?_t=8llXeDGxufx&_r=1" class="social-link">
              <ion-icon name="logo-tiktok"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/@danielhartono7512" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up"></ion-icon>
  </a>