<div class="preloader" data-preloader>
  <div class="circle"></div>
</div>
<header class="header" data-header>
  <div class="container">

    <a href="#" class="logo">
      <img src="/images/Peduli Sehat.png" width="136" height="46" alt="PeduliSehat">
      <span class="logo-text">Peduli<br>Sehat</span>
    </a>

    <nav class="navbar" data-navbar>

      <div class="navbar-top">

        <button class="nav-close-btn" aria-label="clsoe menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>

      </div>

      <ul class="navbar-list">

        <li class="navbar-item">
          <a href="/admindashboard" class="navbar-link title-md">User Account</a>
        </li>

        <li class="navbar-item">
          <a href="/admindashboard/crudFood" class="navbar-link title-md">Crud Food</a>
        </li>

        <li class="navbar-item">
          <a href="/admindashboard/crudSickness" class="navbar-link title-md">Crud Sickness</a>
        </li>

        <li class="navbar-item">
          <a href="/admindashboard/crudMedicine" class="navbar-link title-md"> Crud Medicine</a>
        </li>

        <li class="navbar-item">
          <a href="/admindashboard/crudDoctor" class="navbar-link title-md">Crud Doctor</a>
        </li>

        <li class="navbar-item">
          <a href="/" class="navbar-link title-md">Go to Web</a>
        </li>

      </ul>

      <ul class="social-list">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-pinterest"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
        </li>

      </ul>

    </nav>

    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <ion-icon name="menu-outline"></ion-icon>
    </button>
</header>