<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header.ejs') %>
<body id="top">
  <%- include('layouts/navdash.ejs') %>

  <main>
    <article>
      <section class="section hero" style="background-image: url('./assets/images/hero-bg.png')" aria-label="home">
        <div class="container">
  
          <div class="hero-content">
    
            <p class="hero-subtitle has-before" data-reveal="left">Selamat Datang di Admin Dashboard</p>
    
            <h1 class="headline-lg hero-title" data-reveal="left">
              Adang Irawan <br>
              Amos Valentino <br>
              Daniel Hartono
            </h1>
          </div>
        </div>
      </section>
    </article>
  </main>
  
    <div class="container">
        <h1>Selamat Datang Di Admin Dashboard</h1>
    </div>
    <h2>CRUD DOKTER</h2>
    <form id="doctorForm" action="/doctors" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="text" name="title" placeholder="Title">
        <textarea name="description" placeholder="Description"></textarea>
        <button type="button" onclick="submitFormDoctor()">Add Doctor</button>
    </form>
    <h2>CRUD OBAT</h2>
    <form id="medicineForm" action="/medicine" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="text" name="title" placeholder="Title">
        <textarea name="description" placeholder="Description"></textarea>
        <button type="button" onclick="submitFormMedicine()">Add Medicine</button>
    </form>
    <h2>CRUD PENYAKIT</h2>
    <form id="sicknessForm" action="/sickness" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="text" name="title" placeholder="Title">
        <textarea name="description" placeholder="Description"></textarea>
        <button type="button" onclick="submitFormSickness()">Add Sickness</button>
    </form>

    
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>

    <%- include('layouts/footer.ejs') %>
    <script src="./js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    <script>
          function submitFormDoctor() {
          var form = document.getElementById("doctorForm");
          var formData = new FormData(form);
    
          // Mengirimkan data ke '/doctors' menggunakan AJAX
          var xhr = new XMLHttpRequest();
          xhr.open("POST", form.action, true);
          xhr.onload = function() {
            if (xhr.status === 200) {
              console.log("Formulir berhasil dikirim!");
              // Handle response jika diperlukan
            } else {
              console.error("Terjadi kesalahan saat mengirimkan formulir.");
              // Handle error jika diperlukan
            }
          };
          xhr.onerror = function() {
            console.error("Terjadi kesalahan koneksi.");
            // Handle error jika diperlukan
          };
          xhr.send(formData);
        }
        function submitFormMedicine() {
  var form = document.getElementById("medicineForm");
  var formData = new FormData(form);

  // Mengirimkan data ke '/medicine' menggunakan AJAX
  var xhr = new XMLHttpRequest();
  xhr.open("POST", form.action, true);
  xhr.onload = function() {
    if (xhr.status === 200) {
      console.log("Formulir medicine berhasil dikirim!");
      // Handle response jika diperlukan
    } else {
      console.error("Terjadi kesalahan saat mengirimkan formulir medicine.");
      // Handle error jika diperlukan
    }
  };
  xhr.onerror = function() {
    console.error("Terjadi kesalahan koneksi.");
    // Handle error jika diperlukan
  };
  xhr.send(formData);
}

function submitFormSickness() {
  var form = document.getElementById("sicknessForm");
  var formData = new FormData(form);

  // Mengirimkan data ke '/information' menggunakan AJAX
  var xhr = new XMLHttpRequest();
  xhr.open("POST", form.action, true);
  xhr.onload = function() {
    if (xhr.status === 200) {
      console.log("Formulir information berhasil dikirim!");
      // Handle response jika diperlukan
    } else {
      console.error("Terjadi kesalahan saat mengirimkan formulir information.");
      // Handle error jika diperlukan
    }
  };
  xhr.onerror = function() {
    console.error("Terjadi kesalahan koneksi.");
    // Handle error jika diperlukan
  };
  xhr.send(formData);
}

function submitFormFood() {
          var form = document.getElementById("foodForm");
          var formData = new FormData(form);
    
          var xhr = new XMLHttpRequest();
          xhr.open("POST", form.action, true);
          xhr.onload = function() {
            if (xhr.status === 200) {
              console.log("Formulir berhasil dikirim!");
              // Handle response jika diperlukan
            } else {
              console.error("Terjadi kesalahan saat mengirimkan formulir.");
              // Handle error jika diperlukan
            }
          };
          xhr.onerror = function() {
            console.error("Terjadi kesalahan koneksi.");
            // Handle error jika diperlukan
          };
          xhr.send(formData);
        }
      </script>
     
</body>
</html>
