<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header.ejs') %>
  <body id="top">

  <!-- 
    - #PRELOADER
  -->

  <div class="preloader" data-preloader>
    <div class="circle"></div>
  </div>





  <!-- 
    - #HEADER 1
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="./images/Peduli Sehat.png" width="136" height="46" alt="PeduliSehat">
        <span class="logo-text">Peduli<br>Sehat</span>
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <button class="nav-close-btn" aria-label="clsoe menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list" id="main-Menu">

          <li class="navbar-item">
            <a href="/home" class="navbar-link title-md">Home</a>
          </li>

          <li class="navbar-item">
            <a href="/about" class="navbar-link title-md">About</a>
          </li>

          <li class="navbar-item">
            <a href="/information" class="navbar-link title-md">Information</a>
          </li>

          <li class="navbar-item">
            <a href="/medicine" class="navbar-link title-md">Medicine</a>
          </li>

          <li class="navbar-item">
            <a href="/doctors" class="navbar-link title-md">Doctors</a>
          </li>

        </ul>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>
    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" style="background-image: url('./assets/images/hero-bg.png')" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle has-before" data-reveal="left">Selamat Datang PeduliSehat</p>

            <h1 class="headline-lg hero-title" data-reveal="left">
              Layanan Informasi 
              Cepat Dan Tepat. <br>
            </h1>

            <figure class="hero-banner hero-banner-right" data-reveal="right">
            <img src="./images/dokteranimasi2.png" width="590" height="517" loading="eager" alt="hero banner" justify-content=""
              class="w-100">
          </figure>

        </div>

      </section>
      <h3 class="section-title headline-md text-center" data-reveal="bottom">Qoutes Of The days!</h3>
<div class="carousel-container">
    <div class="carousel-slide">
        <div class="slide"><img src="./images/qoutes1.png" alt="Slide 1"></div>
        <div class="slide"><img src="./images/qoutes1.jpg" alt="Slide 2"></div>
        <div class="slide"><img src="./images/qoutes2.jpg" alt="Slide 3"></div>
        <!-- Add more slides as needed -->
    </div>

    <div class="carousel-controls">
        <button onclick="prevSlide()">Previous</button>
        <button onclick="nextSlide()">Next</button>
    </div>
</div>
    <script>
        let slideIndex = 0;
        const slides = document.querySelectorAll('.slide');
        const totalSlides = slides.length;
    
        function showSlides() {
            slides.forEach(slide => {
                slide.style.display = 'none';
            });
    
            slideIndex++;
    
            if (slideIndex > totalSlides) {
                slideIndex = 1;
            }
    
            slides[slideIndex - 1].style.display = 'block';
            setTimeout(showSlides, 7000); // Change image every 3 seconds
        }
    
        function nextSlide() {
            slideIndex++;
            if (slideIndex > totalSlides) {
                slideIndex = 1;
            }
            showSlides();
        }
    
        function prevSlide() {
            slideIndex--;
            if (slideIndex < 1) {
                slideIndex = totalSlides;
            }
            showSlides();
        }
    
        showSlides();
    </script>
</body>
</html>
        
      </div>

      <!-- 
        - #ABOUT
      -->

      <section class="section about" aria-labelledby="about-label"id="about-page">
        <div class="container">

          <div class="about-content">

            <p class="section-subtitle title-lg has-after" id="about-label" data-reveal="left">Tentang Kami</p>

            <h2 class="headline-md" data-reveal="left">Peduli Sehat</h2>

            <p class="section-text" data-reveal="left">
              Webiste Berbasis Informasi Kesehatan yang memyediiakan layanan obat dan informasi penyakit yang update terus menerus. 
            </p>

            <ul class="tab-list" data-reveal="left">

              <li>
                <button class="tab-btn active">Vision</button>
              </li>

              <li>
                <button class="tab-btn">Mission</button>
              </li>

              <li>
                <button class="tab-btn">Strategy</button>
              </li>

            </ul>

            <p class="tab-text" data-reveal="left">
            VISION :
            </p>

            <div class="wrapper">

              <ul class="about-list">

                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span">Efektif</span>
                </li>

                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span">Membangun Pola Hidup Sehat</span>
                </li>

                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span">Praktis </span>
                </li>

                <li class="about-item" data-reveal="left">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>

                  <span class="span">Mudah dimengerti </span>
                </li>

              </ul>

            </div>

          </div>

          <figure class="about-banner" data-reveal="right">
            <img src="./images/animasidokter3.png" width="554" height="678" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #LISTING
      -->
<div class ="carousel-container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./images/slide1.jpeg" class="d-block w-100" alt="Slide 1">
          </div>
          <div class="carousel-item">
            <img src="./images/slide2.jpeg" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-item">
            <img src="./images/slide3.jpeg" class="d-block w-100" alt="Slide 3">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
      <!-- Bootstrap JavaScript -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>


      <!-- 
        - #BLOG
      -->

      <section class="section blog" aria-labelledby="blog-label" id="information-page">
        <div class="container">

          <p class="section-subtitle title-lg text-center" id="blog-label" data-reveal="bottom">
            News & Article
          </p>

          <h2 class="section-title headline-md text-center" data-reveal="bottom">Latest Articles</h2>

          <ul class="grid-list">

            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom">

                <div class="meta-wrapper">

                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>

                    <span class="span">By Admin</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Specialist</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">Could intermittent fasting reduce breast cancer</h3>

                <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>

                <p class="card-text">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat
                </p>

                <a href="#" class="btn-text title-lg">Read More</a>

              </div>
            </li>

            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom">

                <div class="meta-wrapper">

                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>

                    <span class="span">By Admin</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Specialist</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">Give children more autonomy during the pandemic</h3>

                <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>

                <p class="card-text">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat
                </p>

                <a href="#" class="btn-text title-lg">Read More</a>

              </div>
            </li>

            <li>
              <div class="blog-card has-before has-after" data-reveal="bottom">

                <div class="meta-wrapper">

                  <div class="card-meta">
                    <ion-icon name="person-outline"></ion-icon>

                    <span class="span">By Admin</span>
                  </div>

                  <div class="card-meta">
                    <ion-icon name="folder-outline"></ion-icon>

                    <span class="span">Specialist</span>
                  </div>

                </div>

                <h3 class="headline-sm card-title">How do binge eating and drinking impact the liver?</h3>

                <time class="title-sm date" datetime="2022-01-28">28 January, 2022</time>

                <p class="card-text">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                  labore et dolore magna aliquyam erat
                </p>

                <a href="#" class="btn-text title-lg">Read More</a>

              </div>
            </li>

          </ul>

        </div>
      </section>


    </article>
  </main>

  <header>
    <h1 id="article-section" >Berita Kesehatan Terkini</h1>
</header>
<section class="article">
  <div class="image">
      <img src="./images/flu1.jpeg" alt="Ilustrasi Berita">
  </div>
  <div class="content" id="article-section">
      <h2>LEBARAN TIBA, WASPADA TERPAAN FLU SINGAPURA</h2>
      <p id="teksAwal">Menjelang libur panjang, penyebaran flu Singapura mengalami kenaikan di Indonesia. Bagaimana mencegah penularannya?
      "Lumayan cepat penyebarannya, Mas. Jadi kayak pagi-pagi itu kan baru titik, baru dua titik warna merah. Pas saya ke dokter, itu kan jam agak siangan, itu udah nyebar ke seluruh tangan. Pas masuk ke ruangan dokter, itu udah sampe tenggorokan. Jadi memang secepat itu penyebaran virusnya ke badan," ucap Ana kepada detikX pada Rabu, 3 April 2024.
      </p>
      <p id="teksLengkap" style="display: none;">Ana mengaku merasakan rasa gatal yang luar biasa, terutama di telapak kaki, telapak tangan, hingga bagian siku. Namun bagian yang terasa gatal akan terasa perih saat disentuh atau digaruk. 
      "Gatal-gatalnya itu benar-benar gatal banget. Terus kalau misalnya kita garuk, kan, misalnya nggak tahan banget, itu bakal perih banget. Jadi memang semengganggu itu," ucap Ana.
      Untuk kondisi itu, oleh dokter ia diberi obat oles. Selain itu, ia memperoleh semacam obat tetes yang digunakan untuk luka di tenggorokan dan lidah. Setelahnya, Ana dapat membaik setelah dua minggu perawatan.
      "Saya juga disuruh karantina. Jadi nggak boleh keluar. Saya tuh kayak COVID ya, jadi kayak menjaga jarak sama orang sekitar, terus untuk tempat makan semuanya itu harus dipisah, jadi waktu itu sempat dipisah sama keluarga," ucapnya.
      </p>
      <a href="#article-section" class="toggleBtn" onclick="toggleText()">Baca Selengkapnya</a>
  </div>
</section>

<section class="article">
  <div class="image">
      <img src="./images/makan.jpg" alt="Ilustrasi Berita">
  </div>
  <div class="content">
      <h2> Tak Disarankan Makan Gorengan Saat Buka Puasa, Kenapa? </h2>
      <p id="teksAwal">“Berlebihan makan gorengan saat buka puasa bisa memicu berbagai masalah kesehatan. Termasuk peningkatan risiko penyakit jantung dan diabetes.”
        Kandungan lemak dalam minyak pada gorengan cenderung sulit dicerna. Hal ini membuat tubuh lebih lama mencerna gorengan, sehingga bisa mengganggu dan menghambat saluran pencernaan untuk mencerna zat gizi lain.
      </p>
      <p id="teksLengkap" style="display: none;"id="article-section1">3. Meningkatkan Risiko Diabetes Tipe 2

        Jika kamu mengira bahwa diabetes hanya bisa terjadi akibat makan makanan manis, anggapan tersebut keliru. Nyatanya, makan gorengan berlebihan saat buka puasa juga bisa meningkatkan risiko penyakit ini.
        
        Sebuah studi pada 2014 yang dilakukan oleh para peneliti di Harvard School of Public Health menemukan, bahwa konsumsi gorengan yang sering secara signifikan dikaitkan dengan risiko pengembangan diabetes tipe 2.
        
        Kesimpulan ini didapat setelah memeriksa data dari lebih dari 100.000 pria dan wanita selama 25 tahun. Mereka menemukan bahwa peserta yang makan gorengan antara empat dan enam kali per minggu, memiliki 39 persen peningkatan risiko terkena diabetes tipe 2. Hal ini jika dibandingkan dengan mereka yang makan gorengan kurang dari sekali seminggu. 
        
        Bahkan, peserta yang makan gorengan 7 kali atau lebih per minggu memiliki 55 persen peningkatan risiko mengembangkan kondisi ini, lo. Cukup menghawatirkan, bukan?
        
        *Gorengan Berpotensi Mengandung Akrilamida Penyebab Kanker
        
        Alasan lain mengapa kamu perlu membatasi makan gorengan saat buka puasa adalah karena berpotensi mengandung akrilamida. Ini adalah zat beracun yang dapat terbentuk dalam makanan selama memasak suhu tinggi, seperti menggoreng atau memanggang.
      
      </p>
      <a href="#article-section" class="toggleBtn" onclick="toggleText()">Baca Selengkapnya</a>
  </div>
</section>

<footer>
    <p>&copy; 2024 Berita Kesehatan. All Rights Reserved.</p>
</footer>

  <!-- 
    - #FOOTER
  -->

  <footer class="footer" style="background-image: url('./assets/images/footer-bg.png')">
    <div class="container">

      <div class="section footer-top">

        <div class="footer-brand" data-reveal="bottom">

          <a href="#" class="logo">
            <img src="./images/Peduli Sehat.png" width="136" height="46" loading="lazy" alt="Doclab home">
          </a>

          <ul class="contact-list has-after">

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="mail-open-outline"></ion-icon>
              </div>

              <div>
                <p>
                  Main Email : <a href="mailto:contact@website.com" class="contact-link">contact@&shy;website.com</a>
                </p>

                <p>
                  Inquiries : <a href="mailto:Info@mail.com" class="contact-link">Info@mail.com</a>
                </p>
              </div>

            </li>

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <div>
                <p>
                  Office Telephone : <a href="tel:0029129102320" class="contact-link">0029129102320</a>
                </p>

                <p>
                  Mobile : <a href="tel:000232439493" class="contact-link">000 2324 39493</a>
                </p>
              </div>

            </li>

          </ul>

        </div>

        <div class="footer-list" data-reveal="bottom">

          <p class="headline-sm footer-list-title">About Us</p>

          <p class="text">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
          </p>

          <address class="address">
            <ion-icon name="map-outline"></ion-icon>

            <span class="text">
              2416 Mapleview Drive <br>
              Tampa, FL 33634
            </span>
          </address>

        </div>

        <ul class="footer-list" data-reveal="bottom">

          <li>
            <p class="headline-sm footer-list-title">Services</p>
          </li>

          <li>
            <a href="#" class="text footer-link">Conditions</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Listing</a>
          </li>

          <li>
            <a href="#" class="text footer-link">How It Works</a>
          </li>

          <li>
            <a href="#" class="text footer-link">What We Offer</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Latest News</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Contact Us</a>
          </li>

        </ul>

        <ul class="footer-list" data-reveal="bottom">

          <li>
            <p class="headline-sm footer-list-title">Useful Links</p>
          </li>

          <li>
            <a href="#" class="text footer-link">Conditions</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Terms of Use</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Our Services</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Join as a Doctor</a>
          </li>

          <li>
            <a href="#" class="text footer-link">New Guests List</a>
          </li>

          <li>
            <a href="#" class="text footer-link">The Team List</a>
          </li>

        </ul>
      </div>

      <div class="footer-bottom">

        <p class="text copyright">
          &copy; PeduliSehat 2024 | 
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-google"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./js/script.js"></script>
  <script src="./js/app.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  </body>

</html>