<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Obat-obatan</title>
    <link rel="stylesheet" href="./css/medicine.css">
</head>
<body>
    <div class="container">
        <h1 class="heading">Obat Obatan</h1>
        <div class="box-container">
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
            <div class="box">
                <img src="paracetamol-removebg-preview.png" alt="">
                <h3>Paracetamol</h3>
                <p>Paracetamol adalah obat yang sering digunakan untuk meredakan sakit kepala, nyeri ringan, serta demam.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
    </div>
</body>
</html>