<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/owner.css">
</head>
<body>
    <div class="container">
        <div class="box" style="--crl:#f00;">
            <img src="./images/dokteranimasi2.png" alt="Image 1">
            <h2>FTI<br><small>Daniel Hartono<br>535220206</small></h2>
            <div class="clip">
                <span></span>
                <span></span>
                <span></span>    
            </div>
        </div>
    </div>
    <div class="container">
        <div class="box" style="--crl:#0f0;">
            <img src="./images/dokteranimasi2.png" alt="Image 1">
            <h2>FTI<br><small>Adang Irawan<br>535220192</small></h2>
            <div class="clip">
                <span></span>
                <span></span>
                <span></span>    
            </div>
        </div>
    </div>
    <div class="container">
        <div class="box" style="--crl:#f0f;">
            <img src="./images/dokteranimasi2.png" alt="Image 1">
            <h2>FTI<br><small>Amos Valentino <br>535220191</small></h2>
            <div class="clip">
                <span></span>
                <span></span>
                <span></span>    
            </div>
        </div>
    </div>

</body>
</html>

